body {
    color: rgb(255, 196, 0);
    text-align: center;
    font-family: "Cabril";
    font-size: 15px;
    font-stretch: expanded;
}

#cabecera {
    font-size: 200%;
    width: 90%;
    padding: 5%;
    margin: 0;
    text-align: left;
    background: #23beb7;
    font-weight: bolder;
    color: white;
    box-shadow: 0px 2px 50px 0px rgba(46, 189, 162, 0.541)
}

#cabecera #logo {
    width: 100px;
    vertical-align: middle;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0px auto;
}

#container h1 {
    font-size: 20px;
}

#footer {
    color: greenyellow;
    font-size: 20px;
    background: rgba(0,0,0,0.5);
    margin: 0;
    padding: 0.5em;
    text-align: center;
}